<h1> <%= @lesson.title %> </h1>
<h2> by <%= @lesson.course.teacher.name %> </h2>

<div id="lesson">
  <% if @lesson.objectives %>
    <h4 class="lesson-details-header"> Objectives: </h4>
    <p class="lesson-details"> <%= @lesson.objectives %> </p> <br>
  <% end %>

  <% if @lesson.content %>
    <h4 class="lesson-details-header"> Lesson content: </h4>
    <p class="lesson-details"> <%= @lesson.content %> </p> <br>
  <% end %>

  <% if @lesson.assessment %>
    <h4 class="lesson-details-header"> Assessment: </h4>
    <p class="lesson-details"> <%= @lesson.assessment %> </p> 
  <% end %>

</div>