<h1> All Courses </h1>

<h3><a href="/courses/new">Create a new course.</a> </h3>

<ul>
  <% @courses.each do |course| %>
    <li><a href="/courses/<%=course.id%>"> <%= course.name %></a>, taught by <%= course.teacher.name %></li>
      <% if course.teacher_id == @current_user.id%>
        <!-- edit button -->
        <form action="/courses/<%=course.id%>/edit">
          <input type="submit" value="Edit" />
        </form>
        <!-- delete button -->
        <form action="/courses/<%=course.id%>" method="post">
          <input id="hidden" type="hidden" name="_method" value="delete">
          <input type="submit" value="delete">
        </form>
      <% end %>
    <% end %>
</ul>